@model BB.SmsQuiz.Web.Models.CompetitionViewModel

@Html.HiddenFor(model => model.ID)

<div class="control-group">
    @Html.LabelFor(model => model.Question, new { @class = "control-label" })
    <div class="controls">
        @Html.TextAreaFor(model => model.Question)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.CompetitionKey, "Competition Key", new { @class = "control-label" })
    <div class="controls">
        @Html.EditorFor(model => model.CompetitionKey)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.ClosingDate, "Closing Date", new { @class = "control-label" })
    <div class="controls">
        @Html.EditorFor(model => model.ClosingDate)
    </div>
</div>
@Html.EditorFor(model => model.Answers)
<div class="control-group">
    @Html.LabelFor(model => model.CorrectAnswer, "Correct Answer", new { @class = "control-label" })
    <div class="controls">
        @Html.DropDownListFor(model => model.CorrectAnswer, Model.PossibleAnswerSelectList)
    </div>
</div>