@model BB.SmsQuiz.Web.Models.CompetitionViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
  <li>@Html.ActionLink("Home", "Index", "Home") <span class="divider">/</span></li>
  <li>@Html.ActionLink("Competitions", "Index", "Competitions") <span class="divider">/</span></li>
    <li class="active">@Model.Question</li>
</ul>

<h2>Competition: @Model.Question</h2>

<p>Question: @Model.Question</p>
<p>Created: @Model.CreatedDate.ToString("dd MMM yyyy hh:mm")</p>
<p>Closing: @Model.ClosingDate.ToString("dd MMM yyyy hh:mm")</p>
<p>Competition Key: @Model.CompetitionKey</p>
<p>Created By: @Model.CreatedBy</p>
<p>Status: @Model.Status</p>
<h5>Possible Answers:</h5>
<p>Correct Answer: @Model.CorrectAnswerKey</p>
<ol>
    <li>@Model.Answer1</li>
    <li>@Model.Answer2</li>
    <li>@Model.Answer3</li>
    <li>@Model.Answer4</li>
</ol>
@using (Html.BeginForm("Close", "Competitions", FormMethod.Post, new {@class = "form-horizontal"}))
{
    <input type="hidden" value="@Model.ID" name="id" />
    <input type="hidden" value="@Model.CompetitionKey" name="key" />
    <input type="submit" value="Close" class="btn btn-primary" />
}
<div id="chart_div" style="width: 700px; height: 500px; border:1px solid #ccc;"></div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
        ['Answers', 'Per Key'],
        ['@Model.Answer1', @Model.AnswerACount],
        ['@Model.Answer2', @Model.AnswerBCount],
        ['@Model.Answer3', @Model.AnswerCCount],
        ['@Model.Answer4', @Model.AnswerDCount]
    ]);

        var options = {
            title: 'Statistics'
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>